#experiences {
  text-align: center;
  padding-left: 5%;
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
}

.tabs {
  overflow: hidden;
  color: #fff;
  background: transparent;
}

.tabs button {
  color: #fff;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  color: #fff;
}
