#intro {
  text-align: left;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 5%;
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
}

.intro-name {
  font-size: 55px;
  color: #fff;
}

.intro-emphasize {
  color: var(--purple-bright);
  margin-bottom: -70px;
}

.intro-caption {
  color: var(--slate);
  font-size: 18px;
  margin-top: -30px;
  margin-bottom: 15px;
  width: 90%;
  line-height: 35px;
}

.emphasize-description {
  color: var(--lightest-navy);
  text-decoration: underline;
}

.intro-contact {
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: var(--dark-navy);
  border: 1px solid white;
  border: 1px solid white;
  font-family: "Kanit", sans-serif;
  border-radius: 4px;
  margin-right: 50px;
}

.intro-contact-resume:hover {
  background-color: white;
  color: black;
}

.intro-contact-resume:hover > a {
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

b {
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  #intro {
    min-height: unset;
    padding-left: unset;
    margin: 0;
    align-items: center;
  }

  .intro-name {
    font-size: 46px;
  }

  .intro-subtitle-first {
    margin: 0;
    font-size: 28px;
    text-align: center;
  }

  .intro-contact {
    font-size: 16px;
    align-self: center;
    margin-left: 30%;
  }
}