#skills {
  text-align: center;
  padding-left: 5%;
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
}

.skills-intro {
  color: #fff;
  font-size: 30px;
}

.skills-grid-container {
  margin-left: 13%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  color: var(--purple-bright);
}

.skills-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.skills-grid-item p {
  text-align: left;
}

.skill-items {
  color: var(--lightest-navy);
  font-size: 22px;
  margin-top: -5px;
}
