#speaker {
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.speaker-name {
  font-size: 55px;
  color: #fff;
}

.speaker-emphasize {
  color: var(--purple-bright);
  margin-bottom: -70px;
}

.speaker-caption {
  color: var(--slate);
  font-size: 18px;
  margin-top: -30px;
  margin-bottom: 15px;
  width: 90%;
  line-height: 35px;
}

.emphasize-description {
  color: var(--lightest-navy);
  text-decoration: underline;
}

.speaker-contact {
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: var(--dark-navy);
  border: 1px solid white;
  border: 1px solid white;
  font-family: "Nunito", sans-serif;
  border-radius: 4px;
  margin-right: 50px;
}

.speaker-contact-resume:hover {
  background-color: white;
  color: black;
}

.speaker-contact-resume:hover > a {
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

b {
  font-size: 17px;
}

@media only screen and (max-width: 780px) {
  #speaker {
    padding: 0;
    display: block;
  }

  .speaker-name {
    font-size: 35px;
  }

  .speaker-emphasize {
    color: var(--purple-bright);
    margin-bottom: -40px;
  }

  .speaker-caption {
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
  }

  .speaker-contact {
    width: 100%;
  }
}